.submit {
    font-weight: bold;
}

select {
    border: solid 2px #48b5ee;
    background: none;
    width: 200px;
    height: 40px;
    margin: auto;

}

label {
    font-family: "DejaVu Sans";
    font-size: 17px;
    color: dimgrey;
}

option {
    font-size: 18px;
    font-weight: 300;
    color: darkblue;
    max-width: 600px;
}

#fillup {
    font-weight: 700;
    display: block;
    margin: auto;
    text-align: center;
}

.submit {
    background: #48b5ee;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    display: block;
    margin: auto;
}

.fieldwrapper {
    display: block;
    margin: auto;
    width: 300px;
}

input{
    border: solid 2px #48b5ee;
}
textarea {
        border: solid 2px #48b5ee;
        max-width: 600px;
}
@media only screen and (min-width: 768px) {
    .submit {
        width: 100px;
        margin-left: auto;
        margin-right: 5px;
    }

    .fieldwrapper {
        display: inline-block;
    }
}