
#fillup {
    font-weight: 700;
    font-size: 20px;
    display: block;
    margin: auto;
    text-align: center;
}

.fieldwrapper {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top:10px;
    width: inherit;
}

select {
    border: solid 2px #48b5ee;
    background: none;
    width: 100%;
    height: 40px;
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 10px;

}

label {
    font-size: 17px;
    color: dimgrey;
    margin: 0
}

option {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.submit {
    background: #48b5ee;
    color: #ffffff;
    font-size: 20px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    font-weight: bold;
    display: block;
    margin: auto;
}

input {
    border: solid 2px #48b5ee;
    padding: 10px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: block;
    margin: auto;

}

textarea {
    border: solid 2px #48b5ee;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.error ul {
    font-size: 10px;
    border-color: red;
    border-radius: 5px;
    background: tomato;
    padding: 2px;
    margin: 0;
}

.error {
    display: inline;
    position: relative;
    top: -5px
}

@media only screen and (min-width: 768px) {
    .submit {
        width: 100px;
        margin-left: auto;
        margin-right: 0px;
    }

    input {
        width: 100%;
        display: inherit;
    }

    select {
        width: 100%;
        display: inherit;
    }

    div.fieldwrapper {
        display: inline-block;
        width: 45%;
    }

    div#EMAIL.fieldwrapper {
        display: block;
        margin: 0;
        width: 100%;
    }

    div#EMAIL.fieldwrapper input {
        width: 100%;
    }

    div#MESSAGE {
        display: block;
        width: 100%;
    }

    div#COURSE {
        float: right;
    }

    div[id="PHONE NUMBER"] {
        float: right;
    }

    #id_course {
        display: block;
        margin-right: 0;
        margin-left: auto;
    }
}