{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
        <link rel="stylesheet" href='{% static "css/base.css" %}'/>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
              crossorigin="anonymous">
    {% endblock style %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/logo.png.png' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block head_title %}Compsoc Registration{% endblock head_title %}</title>
</head>
<body>
<div class="navbar">
    <ul id="logo">
            <span id="logo-span">
            <li><img src="{% static 'images/logo.png' %}" class="logo-img"></li>
            <li><span>Compsoc Registration</span></li>
            </span>
    </ul>
    <ul id="top-links">
            <span>
            <li><span class="header-links" id="header-text"><a href="http://on.fb.me/1IApIym">Facebook Page</a></span></li>
            <li><span class="header-links" id="header-text"><a href="http://http://compsocssc.pythonanywhere.com/">Website</a></span></li>
            </span>
    </ul>
</div>

<div class="content">
    {% block content %}

    {% endblock %}
</div>

<ul>
    <span class='footer'>
        <li><a href="http://on.fb.me/1IApIym">Facebook Page</a></li>
        <li>|</li>
        <li><a href="http://http://compsocssc.pythonanywhere.com/">Website</a></li>
    </span>
</ul>

</body>
</html>